<div class="container-fluid">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <p class="text-muted">© 2023</p>
        </div>
    
        <div class="col mb-3">
    
        </div>
    
        <div class="col mb-3">
          <h5>Employee</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" routerLink="/home">Employee List</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" routerLink="/home">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" routerLink="/addEmployee">Add Eployee</a></li>
          </ul>
        </div>
    
        <div class="col mb-3">
          <h5>Leave</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Apply Leave</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">View Leaves</a></li>
          </ul>
        </div>
    
        <div class="col mb-3">
          <h5>Profile</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" routerLink="/profile">View Profile</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Edit Profile</a></li>
           
          </ul>
        </div>
      </footer>
</div>