<div class="container mt-5" *ngIf="!editEmployeeOpened">
    <button class="btn btn-primary my-3" routerLink="/addEmployee">Add New Employee</button>
    <h1>Employee List</h1>
    <div class="row">
        <div class="">
            <!-- <ul>
                <li *ngFor="let employee of employeees">
                    Name: {{employee.name}}
                </li>
            </ul> -->
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Age</th>
                        <th>Profile Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td>{{i+1}}</td>
                        <td [ngClass]="isEmployeeResigned == employee.employee_name ? 'resigned' : 'not-resigned'">{{employee.employee_name}}</td>
                        <td *ngIf="employee.employee_salary >= 300000" class="text-success">{{employee.employee_salary}}</td>
                        <td *ngIf="employee.employee_salary < 300000" class="text-danger">{{employee.employee_salary}}</td>
                        <td>{{employee.employee_age}}</td>
                        <td>{{employee.profile_image}}</td>
                        <td [ngStyle]="{width: isLarge ? '300px': ''}">
                            <button class="btn btn-primary" (click)="editEmployee(employee)">Edit</button>
                            <button class="btn btn-success ms-2" routerLink="/viewEmployee/{{employee.id}}">View</button>
                            <button class="btn btn-danger ms-2" (click)="deleteEmployee(employee.id)" >Delete</button>
                    </tr>
                </tbody>
            </table>
<div *ngIf="responseStatusFailure" class="text-danger h1">
    Something went wrong from our end! Please try again...
</div>

        </div>
    </div>
</div>

<div class="container mt-5" *ngIf="editEmployeeOpened">
    <div class="row">
        <app-edit-employee [data]="selectedEmployee"
        (dataToParent)="receiveDataFromChild($event)"
    ></app-edit-employee>
    </div>
</div>


