<div class="container" *ngIf="dataFromParent">
    <h1>Edit Employee</h1>
    {{dataFromParent | json}}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" value="" [(ngModel)]="dataFromParent.employee_name">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Age</label>
                <input type="text" class="form-control" [(ngModel)]="dataFromParent.employee_age">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Salary</label>
                <input type="text" class="form-control" placeholder="Enter salary" [(ngModel)]="dataFromParent.employee_salary">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Profile Image</label>
                <input type="text" class="form-control" [(ngModel)]="dataFromParent.profile_image">
            </div>


           <div class="form-group mb-3">
            <button class="btn btn-primary" (click)="saveEmployee()">Save & close</button>
           </div>
        </div>
    </div>
</div>